#field {
    width: 690px;
    margin: 0 auto;
    height: 690px;
    background-color: #2b2b2b;
    line-height: 10px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    border-top: 1px solid #999;
}

.field-row {
    width: 100%;
}

.cell {
    display: inline-block;

    width: 15px;
    height: 15px;

    border-bottom: 1px solid #999;
    border-right: 1px solid #999;

    box-sizing: border-box;
}

.cell:last-child {
    border-right: 0;
}

.cell.empty {
    background-color: inherit;
}

.snake {
    background-color: yellow;
}

.food {
    /* TODO */
}